## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.nupkg
*.snupkg
.vs/
*.userprefs

## IDE
.vscode/
.idea/
*.swp
*~

## OS
.DS_Store
Thumbs.db

## uploads
wwwroot/uploads/

## secrets
appsettings.Development.json
