-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: ResortBookingDB
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `ResortBookingDB`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `ResortBookingDB` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `ResortBookingDB`;

--
-- Table structure for table `__efmigrationshistory`
--

DROP TABLE IF EXISTS `__efmigrationshistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `__efmigrationshistory` (
  `MigrationId` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `ProductVersion` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  PRIMARY KEY (`MigrationId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `__efmigrationshistory`
--

LOCK TABLES `__efmigrationshistory` WRITE;
/*!40000 ALTER TABLE `__efmigrationshistory` DISABLE KEYS */;
INSERT INTO `__efmigrationshistory` VALUES ('20260821070212_InitialCreate','8.0.2'),('20260821112919_AddNotificationsTable','8.0.2'),('20260821114635_AddSeasonalRatesAndDiscounts','8.0.2');
/*!40000 ALTER TABLE `__efmigrationshistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activities`
--

DROP TABLE IF EXISTS `activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activities` (
  `ActivityId` int NOT NULL AUTO_INCREMENT,
  `ActivityName` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `PricePerHour` decimal(10,2) DEFAULT NULL,
  `PricePerDay` decimal(10,2) DEFAULT NULL,
  `MaxParticipants` int NOT NULL,
  `ImageUrl` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `IsActive` tinyint(1) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`ActivityId`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activities`
--

LOCK TABLES `activities` WRITE;
/*!40000 ALTER TABLE `activities` DISABLE KEYS */;
/*!40000 ALTER TABLE `activities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activityschedules`
--

DROP TABLE IF EXISTS `activityschedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activityschedules` (
  `ScheduleId` int NOT NULL AUTO_INCREMENT,
  `ActivityId` int NOT NULL,
  `ScheduleDate` datetime(6) NOT NULL,
  `StartTime` time(6) NOT NULL,
  `EndTime` time(6) NOT NULL,
  `AvailableSlots` int NOT NULL,
  `Status` int NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`ScheduleId`),
  KEY `IX_ActivitySchedules_ActivityId` (`ActivityId`),
  CONSTRAINT `FK_ActivitySchedules_Activities_ActivityId` FOREIGN KEY (`ActivityId`) REFERENCES `activities` (`ActivityId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activityschedules`
--

LOCK TABLES `activityschedules` WRITE;
/*!40000 ALTER TABLE `activityschedules` DISABLE KEYS */;
INSERT INTO `activityschedules` VALUES (3,2,'2026-09-01 00:00:00.000000','08:00:00.000000','10:00:00.000000',2,0,'2026-08-21 15:04:18.000000'),(4,3,'2026-09-01 00:00:00.000000','07:00:00.000000','09:00:00.000000',12,0,'2026-08-21 15:04:18.000000'),(5,4,'2026-09-02 00:00:00.000000','06:00:00.000000','16:00:00.000000',18,0,'2026-08-21 15:04:18.000000'),(6,5,'2026-09-01 00:00:00.000000','08:00:00.000000','17:00:00.000000',45,0,'2026-08-21 15:04:18.000000'),(7,8,'2026-09-01 00:00:00.000000','16:00:00.000000','18:00:00.000000',25,0,'2026-08-21 15:04:18.000000');
/*!40000 ALTER TABLE `activityschedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `LogId` int NOT NULL AUTO_INCREMENT,
  `Timestamp` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `User` varchar(100) NOT NULL,
  `Action` varchar(100) NOT NULL,
  `Module` varchar(100) NOT NULL,
  `Details` text NOT NULL,
  `BadgeClass` varchar(50) NOT NULL DEFAULT 'badge-info',
  PRIMARY KEY (`LogId`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
INSERT INTO `audit_logs` VALUES (1,'2026-09-21 12:36:59','Juan Dela Cruz','Login','Auth','Admin logged in successfully','badge-success'),(2,'2026-09-21 12:26:59','Maria Santos','Check-In','Reservations','Guest checked in to Room R101','badge-info'),(3,'2026-09-21 11:41:59','Juan Dela Cruz','Payment','Payments','Recorded payment of ?5,000 via GCash','badge-success');
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `discountcodes`
--

DROP TABLE IF EXISTS `discountcodes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `discountcodes` (
  `DiscountCodeId` int NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Description` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `IsPercent` tinyint(1) NOT NULL,
  `DiscountValue` decimal(10,2) NOT NULL,
  `ValidFrom` datetime(6) NOT NULL,
  `ValidTo` datetime(6) NOT NULL,
  `MaxUses` int NOT NULL,
  `CurrentUses` int NOT NULL,
  `IsActive` tinyint(1) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`DiscountCodeId`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `discountcodes`
--

LOCK TABLES `discountcodes` WRITE;
/*!40000 ALTER TABLE `discountcodes` DISABLE KEYS */;
/*!40000 ALTER TABLE `discountcodes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expenses`
--

DROP TABLE IF EXISTS `expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `expenses` (
  `ExpenseId` int NOT NULL AUTO_INCREMENT,
  `Category` varchar(100) NOT NULL,
  `Description` varchar(255) NOT NULL,
  `Amount` decimal(12,2) NOT NULL,
  `ExpenseDate` date NOT NULL,
  `RecordedBy` varchar(100) NOT NULL DEFAULT 'Admin',
  `CreatedAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`ExpenseId`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expenses`
--

LOCK TABLES `expenses` WRITE;
/*!40000 ALTER TABLE `expenses` DISABLE KEYS */;
INSERT INTO `expenses` VALUES (1,'Maintenance','Pool pump repair and filter cleaning',4500.00,'2026-09-21','Admin','2026-09-21 12:41:59'),(2,'Utilities','Resort electric & water bill for current month',18500.00,'2026-09-21','Admin','2026-09-21 12:41:59'),(3,'Supplies','Fresh linen, towels, and toiletries bulk replenishment',8200.00,'2026-09-21','Admin','2026-09-21 12:41:59');
/*!40000 ALTER TABLE `expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facilities`
--

DROP TABLE IF EXISTS `facilities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `facilities` (
  `FacilityId` int NOT NULL AUTO_INCREMENT,
  `FacilityName` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `RentalPrice` decimal(10,2) NOT NULL,
  `Capacity` int NOT NULL,
  `ImageUrl` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `IsActive` tinyint(1) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`FacilityId`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facilities`
--

LOCK TABLES `facilities` WRITE;
/*!40000 ALTER TABLE `facilities` DISABLE KEYS */;
INSERT INTO `facilities` VALUES (2,'Gazebo','Small open-air gazebo near the beach',1500.00,8,NULL,1,'2026-08-21 15:04:18.000000'),(3,'Conference Room','Air-conditioned meeting room',5000.00,30,NULL,1,'2026-08-21 15:04:18.000000'),(4,'BBQ Area','Outdoor grilling station with tables',2000.00,20,NULL,1,'2026-08-21 15:04:18.000000');
/*!40000 ALTER TABLE `facilities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facilityschedules`
--

DROP TABLE IF EXISTS `facilityschedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `facilityschedules` (
  `FacilityScheduleId` int NOT NULL AUTO_INCREMENT,
  `FacilityId` int NOT NULL,
  `ScheduleDate` datetime(6) NOT NULL,
  `StartTime` time(6) NOT NULL,
  `EndTime` time(6) NOT NULL,
  `Status` int NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`FacilityScheduleId`),
  KEY `IX_FacilitySchedules_FacilityId` (`FacilityId`),
  CONSTRAINT `FK_FacilitySchedules_Facilities_FacilityId` FOREIGN KEY (`FacilityId`) REFERENCES `facilities` (`FacilityId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facilityschedules`
--

LOCK TABLES `facilityschedules` WRITE;
/*!40000 ALTER TABLE `facilityschedules` DISABLE KEYS */;
INSERT INTO `facilityschedules` VALUES (3,2,'2026-08-21 00:00:00.000000','08:00:00.000000','17:00:00.000000',1,'2026-08-21 16:15:41.428779'),(4,2,'2026-08-21 00:00:00.000000','08:00:00.000000','17:00:00.000000',1,'2026-08-21 16:15:43.806236');
/*!40000 ALTER TABLE `facilityschedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guestrecords`
--

DROP TABLE IF EXISTS `guestrecords`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `guestrecords` (
  `GuestId` int NOT NULL AUTO_INCREMENT,
  `UserId` int DEFAULT NULL,
  `FirstName` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `LastName` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `PhoneNumber` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `IdType` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `IdNumber` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `Address` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`GuestId`),
  KEY `IX_GuestRecords_UserId` (`UserId`),
  CONSTRAINT `FK_GuestRecords_Users_UserId` FOREIGN KEY (`UserId`) REFERENCES `users` (`UserId`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guestrecords`
--

LOCK TABLES `guestrecords` WRITE;
/*!40000 ALTER TABLE `guestrecords` DISABLE KEYS */;
INSERT INTO `guestrecords` VALUES (1,4,'Anna','Garcia','anna@gmail.com','09201234567',NULL,NULL,NULL,'2026-08-21 15:04:18.000000'),(2,5,'Mark','Lopez','mark@gmail.com','09211234567',NULL,NULL,NULL,'2026-08-21 15:04:18.000000'),(3,6,'Lisa','Cruz','lisa@gmail.com','09221234567',NULL,NULL,NULL,'2026-08-21 15:04:18.000000'),(4,NULL,'Chrisitan','','joshbelencion@gmail.com','45954154','Drivers License',NULL,NULL,'2026-08-21 17:26:34.934357');
/*!40000 ALTER TABLE `guestrecords` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `NotificationId` int NOT NULL AUTO_INCREMENT,
  `Title` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Message` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Type` int NOT NULL,
  `Icon` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `ActionUrl` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `IsRead` tinyint(1) NOT NULL,
  `UserId` int DEFAULT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`NotificationId`),
  KEY `IX_Notifications_UserId_IsRead_CreatedAt` (`UserId`,`IsRead`,`CreatedAt`),
  CONSTRAINT `FK_Notifications_Users_UserId` FOREIGN KEY (`UserId`) REFERENCES `users` (`UserId`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES (6,'New Activity Added','Activity \'Panty\' was created.',1,'bi-compass','/Activities/Index',0,1,'2026-08-21 20:16:00.897335'),(7,'New Room Added','Room C101 (Standard Room) on Floor 2 was created.',1,'bi-door-open','/Rooms/Index',0,1,'2026-08-21 20:22:21.381960'),(8,'Room Deleted','Room C101 (Floor 2, Standard Room) was deleted.',3,'bi-trash','/Rooms/Index',0,1,'2026-08-21 20:22:48.214405'),(9,'Room Deleted','Room C02 (Floor 0, Beachfront Cottage) was deleted.',3,'bi-trash','/Rooms/Index',0,1,'2026-08-21 20:22:53.527932');
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payments` (
  `PaymentId` int NOT NULL AUTO_INCREMENT,
  `ReservationId` int NOT NULL,
  `Amount` decimal(12,2) NOT NULL,
  `PaymentMethod` int NOT NULL,
  `PaymentType` int NOT NULL,
  `ReferenceNumber` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `PaymentDate` datetime(6) NOT NULL,
  `Status` int NOT NULL,
  `ProcessedBy` int DEFAULT NULL,
  PRIMARY KEY (`PaymentId`),
  KEY `IX_Payments_ProcessedBy` (`ProcessedBy`),
  KEY `IX_Payments_ReservationId` (`ReservationId`),
  CONSTRAINT `FK_Payments_Reservations_ReservationId` FOREIGN KEY (`ReservationId`) REFERENCES `reservations` (`ReservationId`) ON DELETE CASCADE,
  CONSTRAINT `FK_Payments_Users_ProcessedBy` FOREIGN KEY (`ProcessedBy`) REFERENCES `users` (`UserId`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
INSERT INTO `payments` VALUES (1,1,1200.00,2,1,NULL,'2026-08-21 17:26:35.080074',1,NULL);
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservationitems`
--

DROP TABLE IF EXISTS `reservationitems`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reservationitems` (
  `ItemId` int NOT NULL AUTO_INCREMENT,
  `ReservationId` int NOT NULL,
  `ItemType` int NOT NULL,
  `ReferenceId` int NOT NULL,
  `ScheduleId` int DEFAULT NULL,
  `Quantity` int NOT NULL,
  `UnitPrice` decimal(10,2) NOT NULL,
  `Subtotal` decimal(12,2) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`ItemId`),
  KEY `IX_ReservationItems_ReservationId` (`ReservationId`),
  CONSTRAINT `FK_ReservationItems_Reservations_ReservationId` FOREIGN KEY (`ReservationId`) REFERENCES `reservations` (`ReservationId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservationitems`
--

LOCK TABLES `reservationitems` WRITE;
/*!40000 ALTER TABLE `reservationitems` DISABLE KEYS */;
INSERT INTO `reservationitems` VALUES (1,1,0,1,NULL,1,1200.00,1200.00,'2026-08-21 17:26:35.036210');
/*!40000 ALTER TABLE `reservationitems` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservations`
--

DROP TABLE IF EXISTS `reservations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reservations` (
  `ReservationId` int NOT NULL AUTO_INCREMENT,
  `UserId` int NOT NULL,
  `GuestId` int DEFAULT NULL,
  `CheckInDate` datetime(6) NOT NULL,
  `CheckOutDate` datetime(6) NOT NULL,
  `TotalAmount` decimal(12,2) NOT NULL,
  `Status` int NOT NULL,
  `SpecialRequests` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `CreatedAt` datetime(6) NOT NULL,
  `UpdatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`ReservationId`),
  KEY `IX_Reservations_GuestId` (`GuestId`),
  KEY `IX_Reservations_UserId` (`UserId`),
  CONSTRAINT `FK_Reservations_GuestRecords_GuestId` FOREIGN KEY (`GuestId`) REFERENCES `guestrecords` (`GuestId`) ON DELETE SET NULL,
  CONSTRAINT `FK_Reservations_Users_UserId` FOREIGN KEY (`UserId`) REFERENCES `users` (`UserId`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservations`
--

LOCK TABLES `reservations` WRITE;
/*!40000 ALTER TABLE `reservations` DISABLE KEYS */;
INSERT INTO `reservations` VALUES (1,1,4,'2026-08-21 00:00:00.000000','2026-08-22 00:00:00.000000',1200.00,2,NULL,'2026-08-21 17:26:35.036045','2026-08-21 17:26:35.036046');
/*!40000 ALTER TABLE `reservations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `RoleId` int NOT NULL AUTO_INCREMENT,
  `RoleName` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Description` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`RoleId`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Admin','System administrator with full access','2026-08-21 15:04:18.000000'),(2,'Staff','Resort staff for booking and check-in','2026-08-21 15:04:18.000000'),(3,'Guest','Customer booking rooms and activities','2026-08-21 15:04:18.000000');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rooms`
--

DROP TABLE IF EXISTS `rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rooms` (
  `RoomId` int NOT NULL AUTO_INCREMENT,
  `RoomTypeId` int NOT NULL,
  `RoomNumber` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Floor` int DEFAULT NULL,
  `Status` int NOT NULL,
  `Description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `ImageUrl` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  `UpdatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`RoomId`),
  UNIQUE KEY `IX_Rooms_Floor_RoomNumber` (`Floor`,`RoomNumber`),
  KEY `IX_Rooms_RoomTypeId` (`RoomTypeId`),
  CONSTRAINT `FK_Rooms_RoomTypes_RoomTypeId` FOREIGN KEY (`RoomTypeId`) REFERENCES `roomtypes` (`RoomTypeId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rooms`
--

LOCK TABLES `rooms` WRITE;
/*!40000 ALTER TABLE `rooms` DISABLE KEYS */;
/*!40000 ALTER TABLE `rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roomtypes`
--

DROP TABLE IF EXISTS `roomtypes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roomtypes` (
  `RoomTypeId` int NOT NULL AUTO_INCREMENT,
  `TypeName` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `BasePrice` decimal(10,2) NOT NULL,
  `MaxOccupancy` int NOT NULL,
  `ImageUrl` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `IsActive` tinyint(1) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`RoomTypeId`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roomtypes`
--

LOCK TABLES `roomtypes` WRITE;
/*!40000 ALTER TABLE `roomtypes` DISABLE KEYS */;
INSERT INTO `roomtypes` VALUES (1,'Standard Room','Basic room with fan and shared bathroom',1200.00,2,NULL,1,'2026-08-21 15:04:18.000000'),(2,'Deluxe Room','Air-conditioned room with queen bed',2500.00,3,NULL,1,'2026-08-21 15:04:18.000000'),(3,'Family Suite','Spacious suite with 2 bedrooms',4500.00,6,NULL,1,'2026-08-21 15:04:18.000000'),(4,'Beachfront Cottage','Nipa hut cottage on the beach',3000.00,4,NULL,1,'2026-08-21 15:04:18.000000'),(5,'Poolside Villa','Private villa with plunge pool',5500.00,4,NULL,1,'2026-08-21 15:04:18.000000');
/*!40000 ALTER TABLE `roomtypes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seasonalrates`
--

DROP TABLE IF EXISTS `seasonalrates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seasonalrates` (
  `SeasonalRateId` int NOT NULL AUTO_INCREMENT,
  `SeasonName` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `StartDate` datetime(6) NOT NULL,
  `EndDate` datetime(6) NOT NULL,
  `PriceMultiplier` decimal(5,2) NOT NULL,
  `RoomTypeId` int DEFAULT NULL,
  `IsActive` tinyint(1) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`SeasonalRateId`),
  KEY `IX_SeasonalRates_RoomTypeId` (`RoomTypeId`),
  CONSTRAINT `FK_SeasonalRates_RoomTypes_RoomTypeId` FOREIGN KEY (`RoomTypeId`) REFERENCES `roomtypes` (`RoomTypeId`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seasonalrates`
--

LOCK TABLES `seasonalrates` WRITE;
/*!40000 ALTER TABLE `seasonalrates` DISABLE KEYS */;
INSERT INTO `seasonalrates` VALUES (1,'Peak Season (Summer)','2026-03-01 00:00:00.000000','2026-05-31 00:00:00.000000',1.50,NULL,1,'2026-08-21 19:54:53.000000'),(2,'Holiday Season','2026-12-15 00:00:00.000000','2027-01-15 00:00:00.000000',1.75,NULL,0,'2026-08-21 19:54:53.000000'),(3,'Off-Peak (Rainy)','2026-06-01 00:00:00.000000','2026-09-30 00:00:00.000000',0.80,NULL,1,'2026-08-21 19:54:53.000000'),(4,'Weekend Surcharge','2026-01-01 00:00:00.000000','2026-12-31 00:00:00.000000',1.20,NULL,1,'2026-08-21 19:54:53.000000');
/*!40000 ALTER TABLE `seasonalrates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `UserId` int NOT NULL AUTO_INCREMENT,
  `RoleId` int NOT NULL,
  `FirstName` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `LastName` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `PasswordHash` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `PhoneNumber` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `Address` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `ProfileImage` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `IsActive` tinyint(1) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  `UpdatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`UserId`),
  UNIQUE KEY `IX_Users_Email` (`Email`),
  KEY `IX_Users_RoleId` (`RoleId`),
  CONSTRAINT `FK_Users_Roles_RoleId` FOREIGN KEY (`RoleId`) REFERENCES `roles` (`RoleId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-21 12:42:04
